@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

.faq-section {
  margin: 150px auto 50px auto;
  display: block;
  width: 80%;
  font-family: "Montserrat", sans-serif;
}

.faq-container {
  margin: 1rem auto 5rem auto;
}

.faq-header {
  text-align: center;
  margin: 1rem auto 5rem auto;
}

.faq-header h4 {
  font-size: 30px;
  font-weight: bolder;
  color: #002a3a;
  letter-spacing: 0.9px;
  line-height: 40px;
}

.faq-body-container-col {
  padding: 0px 40px;
  width: 70%;
  margin: auto;
}

.faq-body-container-info-question-div:focus {
  border: 1px solid #fd3f6d;
}

.faq-body-container-info-question {
  font-family: "Barlow", sans-serif;
  color: #0e111d;
  font-size: 20px !important;
  font-weight: 500;
  width: 100%;
  margin: 1rem 0rem !important;
  padding: 0px !important;
}

.faq-body-container-info-answer {
  color: #454545;
  font-size: 17px !important;
  text-align: justify;
  font-weight: 400;
}

.faq-question-answer-div-btn {
  text-align: center;
  margin: 10rem auto;
}

.faq-question-answer-div-btn button span {
  font-style: italic;
}

.faq-question-answer-div-btn button:nth-child(1) {
  color: #fd3f6d;
  background-color: #ffffff;
  border: 2px solid #fd3f6d;
  padding: 5px 15px;
  width: 200px;
  margin: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3em;
  white-space: nowrap;
}

.faq-question-answer-div-btn button:hover:nth-child(1) {
  color: #ffffff;
  background-color: #fd3f6d;
}

.faq-question-answer-div-btn button:nth-child(2) {
  color: #ffffff;
  background-color: #fd3f6d;
  border: 2px solid #fd3f6d;
  padding: 5px 15px;
  width: 200px;
  margin: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3em;
  white-space: nowrap;
}

.faq-question-answer-div-btn button:hover:nth-child(2) {
  color: #fd3f6d;
  background-color: #ffffff;
}

.web-category-healine-icon-btn {
  margin: 0rem auto;
}

/* ================ */
/* Responsive Area */
/* ================ */

@media (max-width: 768px) {
  .faq-header p {
    width: 100%;
  }

  .faq-body-container-col {
    padding: 0px 10px;
    width: 100%;
  }
}

@media (width: 375px) {
}

@media (width: 414px) {
}

@media (width: 390px) {
}

@media (width: 393px) {
}

@media (width: 360px) {
}

@media (width: 412px) {
}

@media (width: 820px) {
}

@media (width: 768px) {
}

@media (width: 912px) {
}

@media (width: 540px) {
}

@media (width: 280px) {
}

@media (width: 1024px) {
}

@media (width: 1280px) {
}
