@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200;400&display=swap");

.pdesing-section {
  margin: 100px auto;
  display: block;
  width: 80%;
}

.pdesing-title h1 {
  text-align: center;
  margin: 130px auto 0px auto;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #254117;
  font-family: "Schibsted Grotesk", sans-serif;
}

.pdesing-title p {
  color: black;
  font-size: 22px;
  font-weight: 500;
  color: #384d2e;
  font-family: "Sofia Sans Condensed", sans-serif;
  text-align: center;
  margin: 0px !important;
  padding: 0px !important;
}

.pdesign-protein-title h5 {
  color: #384d2e;
  font-size: 28px;
  font-weight: 500;
  font-family: "Schibsted Grotesk", sans-serif;
}

.pdesign-protein-title p {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0px;
}

.pdesign-card-multi-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.pdesign-card-multi-btn-circle {
  padding: 5px 5px;
  margin: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
}

/* .pdesign-card-multi-btn-circle:nth-last-child(4) {
  background-color: #e799a3;
} */

.pdesign-card-multi-btn-circle:nth-child(1) {
  background-color: #03a9f4;
}
.pdesign-card-multi-btn-circle:nth-child(2) {
  background-color: #cc6600;
}
.pdesign-card-multi-btn-circle:nth-child(3) {
  background-color: #454545;
}

.pdesign-card-multi-btn-circle-researcher {
  background-color: #03a9f4;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
}
.pdesign-card-multi-btn-circle-designer {
  background-color: #cc6600;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
}
.pdesign-card-multi-btn-circle-leader {
  background-color: #454545;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
}

.pdesign-card-multi-btn-circle-researcher:hover,
.pdesign-card-multi-btn-circle-designer:hover,
.pdesign-card-multi-btn-circle-leader:hover {
  border: 1px solid black;
}

.active-circle-btn {
  border: 3px solid black;
}

.pdesign-card {
  margin: 20px 0px 30px 0px;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}

.pdesign-card:hover {
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.pdesign-card-added {
  margin: 0px auto;
  display: block;
  width: 30%;
}

.pdesign-card-added p {
  text-align: center;
  background-color: #fd3f6d;
  color: #ffffff;
  padding: 5px 20px;
  position: absolute;
}

.pdesign-card-added P span {
  text-transform: uppercase;
}

.pdesign-card img {
  width: 100%;
  height: 200px;
}

.pdesign-card-btn {
  background-color: #cccc;
}

.pdesign-card-info {
  margin: auto;
  display: block;
  width: 85%;
}

.pdesign-card-organism,
.pdesign-card-protein {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: #000000;
}

.pdesign-card-organism,
.pdesign-card-protein {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
  color: white;
  font-size: 14px !important;
  background-color: #fd3f6d;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 400;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#right {
  top: -8px;
  left: 70%;
}

.hover-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.pdesign-card-price {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.pdesign-card-chart-btn {
  margin-top: 10px;
}

.pdesign-card-info p span {
  font-size: 10px;
}

.normal-click {
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
  background-color: #fd3f6d;
  color: #ffffff;
  border: 1px solid #fd3f6d;
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3.2em;
  white-space: nowrap;
}

.normal-click:hover {
  color: #000000;
}

.active-click {
  background-color: #ffffff;
  color: #fd3f6d;
  border: 1px solid #fd3f6d;
}

.show-click {
  padding: 10px;
  /* margin-top: 5px; */
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  color: #fd3f6d;
  border: 1px solid #fd3f6d;
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3.2em;
  white-space: nowrap;
}

.show-click:hover {
  color: #000000;
}

/* 
.protein-pop-up{
    position: absolute;
    top: 25%;
    left: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
   
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ================ */
/* Responsive Area */
/* ================ */

@media (max-width: 768px) {
  .pdesing-section {
    margin: 40px auto;
    width: 85%;
  }

  .pdesign-card {
    margin: 20px 0px 30px 0px;
  }

  .pdesign-card-chart-btn button {
    margin-bottom: 0px;
    width: 100%;
  }

  .pdesign-protein-title p {
    width: 50%;
  }

  .pdesing-title {
    margin: 130px auto 0px auto;
    font-size: 25px;
  }

  #right {
    top: -40px;
    left: 0%;
  }
}

@media (width: 375px) {
}

@media (width: 414px) {
}

@media (width: 390px) {
}

@media (width: 393px) {
}

@media (width: 360px) {
}

@media (width: 412px) {
}

@media (width: 820px) {
  .pdesing-section {
    margin: 40px auto;
    width: 85%;
  }

  .pdesign-card {
    margin: 20px 10px 30px 10px;
  }

  .pdesign-card-chart-btn button {
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
  }

  .pdesign-protein-title p {
    width: 50%;
    margin-left: 10px;
  }

  .pdesing-title {
    margin: 130px auto 0px auto;
    font-size: 25px;
  }

  #right {
    top: -40px;
    left: 0%;
  }
}

@media (width: 768px) {
  .pdesing-section {
    margin: 40px auto;
    width: 85%;
  }

  .pdesign-card {
    margin: 20px 10px 30px 10px;
  }

  .pdesign-card-chart-btn button {
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
  }

  .pdesign-protein-title p {
    width: 50%;
    margin-left: 12px;
  }

  .pdesing-title {
    margin: 130px auto 0px auto;
    font-size: 25px;
  }

  #right {
    top: -40px;
    left: 0%;
  }
}

@media (width: 912px) {
  .pdesing-section {
    margin: 40px auto;
    width: 85%;
  }

  .pdesign-card {
    margin: 20px 10px 30px 10px;
  }

  .pdesign-card-chart-btn button {
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
  }

  .pdesign-protein-title p {
    width: 50%;
    margin-left: 20px;
  }

  .pdesing-title {
    margin: 130px auto 0px auto;
    font-size: 25px;
  }
}

@media (width: 540px) {
}

@media (width: 280px) {
}

@media (width: 1024px) {
  .pdesing-section {
    margin: 40px auto;
    width: 85%;
  }

  .pdesign-card {
    margin: 20px 10px 30px 10px;
  }

  .pdesign-card-chart-btn button {
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
  }

  .pdesign-protein-title p {
    width: 30%;
    margin-left: 20px;
  }

  .pdesing-title {
    margin: 130px auto 0px auto;
    font-size: 25px;
  }
}

@media (width: 1280px) {
  .pdesing-section {
    margin: 40px auto;
    width: 85%;
  }

  .pdesign-card {
    margin: 20px 10px 30px 10px;
  }

  .pdesign-card-chart-btn button {
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
  }

  .pdesign-protein-title p {
    width: 30%;
    margin-left: 15px;
  }

  .pdesing-title {
    margin: 130px auto 0px auto;
    font-size: 25px;
  }
}
