select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  scrollbar-width: thin;
  scrollbar-color: #a9a9a9 #f2f2f2;
  cursor: pointer;
}

select::-webkit-scrollbar {
  width: 6px;
}
select::-moz-scrollbar {
  width: 6px;
}

select::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 8px;
}
::-moz-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 8px;
}

select::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
select::-moz-scrollbar-track {
  background-color: #f2f2f2;
}

select:focus {
  outline: none;
}

.bg_default {
  background-color: white;
  border: 3px solid #a9a9a9;
  color: black;
}
.bg_red_br_gray {
  background-color: red;
  color: whitesmoke;
  border: 3px solid #a9a9a9;
}
.bg_green_br_gray {
  background-color: green;
  color: whitesmoke;
  border: 3px solid #a9a9a9 !important;
}
.bg_green_br_red {
  background-color: green;
  color: whitesmoke;
  border: 3px solid red !important;
}
.br_green {
  border: 3px solid green;
}
